name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup NodeJS 20
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: yarn
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Find version to release
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo Version: $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Update version for universal-cookie
        run: yarn workspace universal-cookie version --no-git-tag-version --new-version ${VERSION} 

      - name: Publish universal-cookie to NPM
        run: yarn workspace universal-cookie npm publish

      - name: Update version for react-cookie
        run: yarn workspace react-cookie version --no-git-tag-version --new-version ${VERSION} 

      - name: Publish react-cookie to NPM
        run: yarn workspace react-cookie npm publish

      - name: Update version for universal-cookie-express
        run: yarn workspace universal-cookie-express version --no-git-tag-version --new-version ${VERSION} 

      - name: Publish universal-cookie-express to NPM
        run: yarn workspace universal-cookie-express npm publish

      - name: Update version for universal-cookie-koa
        run: yarn workspace universal-cookie-koa version --no-git-tag-version --new-version ${VERSION} 

      - name: Publish universal-cookie-koa to NPM
        run: yarn workspace universal-cookie-koa npm publish
