name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup NodeJS 20
        uses: actions/setup-node@v4
        with:
          node-version: '22.14.0'
          cache: yarn
          registry-url: 'https://registry.npmjs.org'

      - name: Enable Yarn 4
        run: corepack enable

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Publish universal-cookie to NPM
        working-directory: ./packages/universal-cookie
        run: npm publish

      - name: Publish react-cookie to NPM
        working-directory: ./packages/react-cookie
        run: npm publish

      - name: Publish universal-cookie-express to NPM
        working-directory: ./packages/universal-cookie-express
        run: npm publish

      - name: Publish universal-cookie-koa to NPM
        working-directory: ./packages/universal-cookie-koa
        run: npm publish
