name: Publish

on:
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup NodeJS 20
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: yarn
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Find version to release
        run: |
          echo "VERSION=5.0.0" >> $GITHUB_ENV
        #  VERSION=${GITHUB_REF_NAME#v}
        #  echo Version: $VERSION
        #  echo "VERSION=$VERSION" >> $GITHUB_ENV

        #- name: Update version for universal-cookie
        #working-directory: ./packages/universal-cookie
        #run: npm version --no-git-tag-version --new-version ${VERSION}

        #- name: Publish universal-cookie to NPM
        #working-directory: ./packages/universal-cookie
        #run: npm publish

      - name: Update version for react-cookie
        working-directory: ./packages/react-cookie
        run: npm version --no-git-tag-version --new-version ${VERSION}

      - name: Publish react-cookie to NPM
        working-directory: ./packages/react-cookie
        run: npm publish

      - name: Update version for universal-cookie-express
        working-directory: ./packages/universal-cookie-express
        run: npm version --no-git-tag-version --new-version ${VERSION}

      - name: Publish universal-cookie-express to NPM
        working-directory: ./packages/universal-cookie-express
        run: npm publish

      - name: Update version for universal-cookie-koa
        working-directory: ./packages/universal-cookie-koa
        run: npm version --no-git-tag-version --new-version ${VERSION}

      - name: Publish universal-cookie-koa to NPM
        working-directory: ./packages/universal-cookie-koa
        run: npm publish
